@media (min-width: 992px) {
  #hero-section .slider img {
    height: auto;
  }

  #explore-products-section .product-list {
    overflow: hidden;
    flex-wrap: wrap;
  }

  #new-arrivals-section .image-gallary .left {
    width: fit-content;
  }

  #new-arrivals-section .image-gallary .left {
    height: 520px;
  }
  #new-arrivals-section .image-gallary {
    flex-wrap: nowrap;
  }
}
